/* RESET */
* body{
  margin: 0;
  padding: 0;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}


/* HEADER */
header {
  height: 100px;
  background: #BA7E71;
  padding: 0 50px;
  color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 0;
  width: 100%;
  background-color: #333;
  padding: 15px;
  color: #fff;
  z-index: 1000;
  transition: top 0.3s;
}
/* descripcion texto home*/
#main-description {
  max-width: 800px;
  margin: 20px auto;
  padding: 20px;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  background-color: #333;
  color: #fff;
  text-align: center;
  padding: 20px;
}

h2 {
  font-size: 36px;
  margin-bottom: 10px;
}

p {
  font-size: 18px;
  line-height: 1.6;
}
/* fin descripcion texto home*/

.logo {
  font-weight: 200;
  display: inline-block;
  text-transform: uppercase;
  font-weight: 200;
  color: transparent;
  background: url(./images/logoprincipal.png) no-repeat center center;
  background-size: contain;
  height: 100px;
  width: 100px;
}

.menu a {
  color: #fff;
  text-transform: uppercase;
  text-decoration: none;
  padding: 0 10px;
}

.mostrar-menu,
.esconder-menu {
  font-size: 30px;
  cursor: pointer;
  transition: 0.4s;
  margin-right: 50px; /* mover boton menu hamburguesa */
}

.mostrar-menu {
  order: 1;
}

.menu a:hover,
.mostrar-menu:hover,
.esconder-menu:hover {
  color: #6cc091;
}

#check {
  display: none;
}

/* BANNER */
#banner { 
  padding: 0 50px;
  background-image: url(./images/imabanner.jpg);
  height: 45vh;
  background-size: cover;
  background-position: center;
  padding-top: 50px; /* Ajusta el padding superior según tus necesidades */
  position: relative;  /* movimiento de fondo banner */
  animation: moveBackground 10s infinite linear; /* Ajusta la duración según tus necesidades */
}

#banner::before {
  content: '';
  background: rgba(77, 77, 92, 0.6);
  position: absolute;
  width: 100%;
  height: 45vh;
  left: 0;
}
@keyframes moveBackground {  /* movimiento de fondo banner */
  0% {
    background-position: center;
  }
  50% {
    background-position: 100% 0;
  }
  100% {
    background-position: center;
  }
}

.contenido-banner {
  position: relative;
  padding-top: 50px; /* Ajusta el padding superior según tus necesidades */
  color: #fff;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.contenido-banner h3 {
  font-size: 2em;
  margin-bottom: 10px; /* Ajusta el margen inferior según tus necesidades */
  font-weight: 400;
  padding: 10px 0px;
}

.contenido-banner h3 span {
  font-weight: 600;
  display: inline-block; /* Asegura que la animación se aplique correctamente */
  animation: swingText 4s infinite; /* Ajusta la duración y repetición según tus preferencias */
  
}
@keyframes swingText {
  0% {
      transform: translateX(0);
  }
  25% {
      transform: translateX(5px) rotate(-2deg);
  }
  50% {
      transform: translateX(0);
  }
  75% {
      transform: translateX(-5px) rotate(2deg);
  }
  100% {
      transform: translateX(0);
  }
}


.boton-empezar {
  text-decoration: none;
  color: #fff;
  border: 1px solid #6cc091;
  padding: 20px;
  align-self: baseline;
  transition: all 0.4s;
}

.boton-empezar:hover {
  background: #6CC09070;
}

/*** LINEA DE TIEMPO HISTORIA
 ***/
.timeline-history-section {
  margin-top: 50px;
  text-align: center;
}
  
.timeline-history-section .event img {
  width: 100%;
} 
.timeline-history-section .event p {
    top: -8px;
    position: relative;
}
.timeline-history-section pstrong {
  font-weight: 600;
}
.timeline-history-section h1 {
  font-family: 'Raleway', sans-serif;
  letter-spacing: 1.5px;
  color: #393939;
  font-weight: 100;
  font-size: 2.4em;
}
.timeline-history-section {
  margin-top: 50px;
  text-align: center;
}
/* Timeline */
.timeline-site {
  border-left: 2px solid #8cb9ea;
  border-bottom-right-radius: 4px;
  border-top-right-radius: 4px;
  background-color: #cfe2f3;  /* color de fondo linea del tiempo */
  color: #393939;
  font-family: "Source Sans Pro", sans-serif;
  margin: 50px auto;
  letter-spacing: 0.5px;
  position: relative;
  line-height: 1.4em;
  font-size: 1.03em;
  padding: 50px;
  list-style: none;
  text-align: left;
  font-weight: 100;
  max-width: 50%;
}
.timeline-site h1,
.timeline-site h2,
.timeline-site h3 {
  font-family: 'Raleway', sans-serif;
  letter-spacing: 1.5px;
  font-weight: 100;
  font-size: 1.4em;
  color: #393939;
  margin-bottom: 10px; /* Ajusta el valor según sea necesario */
  
}
.timeline-site img {
  margin-bottom: 20px; /* Ajusta el valor según sea necesario */
}

.timeline-site .event {
  border-bottom: 1px dashed rgba(255, 255, 255, 0.1);
  padding-bottom: 25px;
  margin-bottom: 0px;
  position: relative;
  font-weight: 400;
  font-size: 2vw; /* Ajusta este valor según tus necesidades */
  line-height: 1.5;
  animation: slideInDownSmall 1s forwards;
}
@media screen and (max-width: 600px) {
  .timeline-site .event {
    font-size: 16px;
    line-height: 1.2;
  }
}
.timeline-site .event:last-of-type {
  padding-bottom: 0;
  margin-bottom: 0;
  border: none;
}
.timeline-site .event:before,
.timeline-site .event:after {
  position: absolute;
  display: block;
  top: 0;
}
.timeline-site .event:before {
  left: -217.5px;
  color: #393939;
  content: attr(data-date);
  text-align: right;
  font-size: 40px;
  font-family: 'Roboto', sans-serif;
  padding-bottom: 0px;
  margin-bottom: 5px;
  min-width: 60px;
}
.timeline-site .event:after {
  box-shadow: 0 0 0 2px #8cb9ea;
  left: -56px;
  background: #fff;
  border-radius: 50%;
  height: 11px;
  width: 11px;
  content: "";
  top: 5px;
}
/* Responsive Design */
@media only screen and (max-width: 768px) {
  .timeline-site {
    max-width: 100%;
    margin-left: 0;
  }

  .timeline-site .event:before {
    left: 0;
    top: -40px;
  }

  .timeline-site .event:after {
    top: -33px;
  }
}

@media only screen and (min-width: 769px) {
  .timeline-site {
    max-width: 50%;
    margin: 50px auto;
  }

  .timeline-site .event:before {
    left: -217.5px;
  }
}

/*** new timeline end ***/


/* PERSONAJES */
#personajes {
  padding: 50px 50px;
  display: flex;
  justify-content: center;
  text-align: center;
}

#personajes img {
  width: 100%;
  height: 300px;
  max-width: 300px;
  transition: transform 0.3s ease-in-out;
}

#personajes div:hover img {  /* zoom de la imagen */
  transform: scale(1.2);
}

#personajes div {
  padding: 30px 30px;
}

#personajes div h4 {
  color: #4d4d5c;
  font-size: 20px;
  margin: 15px 0px;
}

#personajes div p {
  color: #4d4d5c87;
  font-size: 18px;
}

.boton-saber-mas {
  display: inline-block;
  text-decoration: none;
  color: #555555;
  padding: 10px 30px;
  border: 3px solid #4d4d5c;
  border-radius: 30px;
  margin-top: 15px;
  transition: all 0.4s;
}

.boton-saber-mas:hover {
  background: #4d4d5c;
}

/* ICONOS */
#iconos {
  padding: 0px 50px;
  background: #BA7E71;
}

.contenido-iconos {
  padding: 50px 50px 0px 50px;
  display: flex;
  justify-content: space-between;
  align-items: center; /* Alinear verticalmente los elementos */
  text-align: center;
}

.contenido-iconos div {
  flex: 1;
  margin: 20px 0px;
  border-right: 2px solid rgba(255, 255, 255, 0.2);
  box-sizing: border-box; /* Evitar que el borde afecte el tamaño total */
}

#icono-mobile {
  border: none;
}

.contenido-iconos div i {
  color: #E9D6D2;
}

.contenido-iconos {
  color: #fff;
  font-size: 20px;
  font-weight: 100;
  margin: 10px 0;
}

.boton-iconos {
  text-align: center;
  padding-bottom: 50px;
}
/* SECCION DE PRECIOS Y SUSCRIPCIONES */
.pricing-table-title {
	text-transform: uppercase;
  background: #030303;
	font-weight: 700;
	font-size: 2.6em;
	color: #FFF;
	margin-top: 15px;
	text-align: center;
	margin-bottom: 25px;
	text-shadow: 0 1px 1px rgba(0,0,0,0.4);
  padding: 10px; /* Agrega un poco de espacio alrededor del texto */
}

.pricing-table-title a {
	font-size: 0.6em;
}

.clearfix:after {
	content: '';
	display: block;
	height: 0;
	width: 0;
	clear: both;
}
/** ========================
 * Contenedor
 ============================*/
.pricing-wrapper {
	width: 960px;
	margin: 40px auto 0;
}

.pricing-table {
	margin: 0 10px;
	text-align: center;
	width: 300px;
	float: left;
	-webkit-box-shadow: 0 0 15px rgba(0,0,0,0.4);
	box-shadow: 0 0 15px rgba(0,0,0,0.4);
	-webkit-transition: all 0.25s ease;
	-o-transition: all 0.25s ease;
	transition: all 0.25s ease;
}

.pricing-table:hover {
	-webkit-transform: scale(1.06);
	-ms-transform: scale(1.06);
	-o-transform: scale(1.06);
	transform: scale(1.06);
}

.pricing-title {
	color: #FFF;
	background: #e95846;
	padding: 20px 0;
	font-size: 2em;
	text-transform: uppercase;
	text-shadow: 0 1px 1px rgba(0,0,0,0.4);
}

.pricing-table.recommended .pricing-title {
	background: #2db3cb;
}

.pricing-table.recommended .pricing-action {
	background: #2db3cb;
}

.pricing-table .price {
	background: #403e3d;
	font-size: 3.4em;
	font-weight: 700;
	padding: 20px 0;
	text-shadow: 0 1px 1px rgba(0,0,0,0.4);
}

.pricing-table .price sup {
	font-size: 0.4em;
	position: relative;
	left: 5px;
}

.table-list {
	background: #FFF;
	color: #403d3a;
}

.table-list li {
	font-size: 1.4em;
	font-weight: 700;
	padding: 12px 8px;
}

.table-list li:before {
	content: "\f00c";
	font-family: 'FontAwesome';
	color: #3fab91;
	display: inline-block;
	position: relative;
	right: 5px;
	font-size: 16px;
} 

.table-list li span {
	font-weight: 400;
}

.table-list li span.unlimited {
	color: #FFF;
	background: #e95846;
	font-size: 0.9em;
	padding: 5px 7px;
	display: inline-block;
	-webkit-border-radius: 38px;
	-moz-border-radius: 38px;
	border-radius: 38px;
}


.table-list li:nth-child(2n) {
	background: #F0F0F0;
}

.table-buy {
	background: #FFF;
	padding: 15px;
	text-align: left;
	overflow: hidden;
}

.table-buy p {
	float: left;
	color: #37353a;
	font-weight: 700;
	font-size: 2.4em;
}

.table-buy p sup {
	font-size: 0.5em;
	position: relative;
	left: 5px;
}

.table-buy .pricing-action {
	float: right;
	color: #FFF;
	background: #e95846;
	padding: 10px 16px;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	border-radius: 2px;
	font-weight: 700;
	font-size: 1.4em;
	text-shadow: 0 1px 1px rgba(0,0,0,0.4);
	-webkit-transition: all 0.25s ease;
	-o-transition: all 0.25s ease;
	transition: all 0.25s ease;
}

.table-buy .pricing-action:hover {
	background: #cf4f3e;
}

.recommended .table-buy .pricing-action:hover {
	background: #228799;	
}

/** ================
 * Responsive
 ===================*/
 @media only screen and (min-width: 768px) and (max-width: 959px) {
 	.pricing-wrapper {
 		width: 768px;
 	}

 	.pricing-table {
 		width: 236px;
 	}
	
	.table-list li {
		font-size: 1.3em;
	}

 }

 @media only screen and (max-width: 767px) {
 	.pricing-wrapper {
 		width: 420px;
 	}

 	.pricing-table {
 		display: block;
 		float: none;
 		margin: 0 0 20px 0;
 		width: 100%;
 	}
 }

@media only screen and (max-width: 479px) {
	.pricing-wrapper {
		width: 300px;
	}
}

/* FIN DE SECCION DE PRECIOS Y SUSCRIPCIONES */

/* FORMULARIO */
#contacto {
  background: #525555;
  /* Fondo de  formulario */
  padding: 50px 0px;
  color: #fff;
}

#contacto h4 {
  text-align: center;
  font-size: 25px;
  margin-bottom: 20px;
}

#contacto form {
  max-width: 80%;
  margin: 0 auto;
}

.datos-form {
  display: flex;
}

.datos-form div {
  padding: 10px;
  flex: 1;
}

form label {
  display: block;
  margin-bottom: 10px;
}

form input,
form textarea {
  background: #fff;
  border-radius: 10px;
  border: 2px solid #8dcca9;
  padding: 10px 5px;
  outline: 0;
  color: #030303;
  /*color de texto dentro de campo del formulario*/
  width: 100%;
  /*ancho del formulario*/
}

form input:focus,
form textarea:focus {
  border-color: #4bae77;
  box-shadow: 0 0 0 1px #4bae77;
}

form input::placeholder,
form textarea::placeholder {
  color: #fff;
}

.mensaje {
  display: flex;
  flex-direction: column;
  padding: 10px;
}

.boton-formulario .boton-saber-mas {
  display: block;
  border: 1px solid #fff;
  /*efecto contorno blanco boton*/
  color: #fff;
  text-align: center;
  transition: 0.4s;
}

.boton-formulario .boton-saber-mas:hover {
  background: #4FA776AD;
}

.footer-widget-heading h3 {
    animation: colorChange 2s infinite alternate;
}

@keyframes colorChange { /*color de letras en descarga*/
    0% {
        color: #3498db; /* Color inicial */
    }

    50% {
        color: #e74c3c; /* Color intermedio */
    }

    100% {
        color: #3498db; /* Color final */
    }
}


/* Estilos para el modal */
#termsModal {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 70%;
  max-width: 600px;
  background-color: #fff;
  color: #000;
  padding: 20px;
  border-radius: 10px;
}

.modal-content {
  text-align: center;
}

.close {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 20px;
  font-weight: bold;
  cursor: pointer;
}


ul {
  margin: 0px;
  padding: 0px;
}
.footer-section {
background: #151414;
position: relative;
}
.footer-cta {
border-bottom: 1px solid #373636;
}

.single-cta i { /*logos de ubicacio, telefono , y correo en footer*/
  color: #ff5e14;
  font-size: 30px;
  float: left;
  margin-top: 8px;
}

.footer-widget-heading {
  text-align: center;
  margin-bottom: 20px;
}

.download-link {
  display: inline-block;
  padding: 10px 20px;
  background-color: #3498db;
  color: #fff;
  text-decoration: none;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

.download-link:hover {
  background-color: #2980b9;
}

.cta-text {
padding-left: 15px;
display: inline-block;
}
.cta-text h4 {
color: #fff;
font-size: 20px;
font-weight: 600;
margin-bottom: 2px;
}
.cta-text span {
color: #757575;
font-size: 15px;
}
.footer-content {
position: relative;
z-index: 2;
}
.footer-pattern img {
position: absolute;
top: 0;
left: 0;
height: 330px;
background-size: cover;
background-position: 100% 100%;
}
.footer-logo {
  margin-bottom: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 200px; /* Ajusta la altura según sea necesario */
}
.footer-logo img {
  max-width: 100%; /* La imagen se ajustará al ancho del contenedor padre */
  height: auto; /* Para mantener la proporción original de la imagen */
}

.footer-text {  /*centrar texto en footer texto*/
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.footer-text p { /*descripcion en footer texto*/
margin-bottom: 14px;
font-size: 14px;
    color: #7e7e7e;
line-height: 28px;
}
.footer-social-icon span {
color: #fff;
display: block;
font-size: 20px;
font-weight: 700;
font-family: 'Poppins', sans-serif;
margin-bottom: 20px;
}
.footer-social-icon a {
color: #fff;
font-size: 16px;
margin-right: 15px;
}
.footer-social-icon i {
height: 40px;
width: 40px;
text-align: center;
line-height: 38px;
border-radius: 50%;
}
.facebook-bg{
background: #3B5998;
}
.twitter-bg{
background: #55ACEE;
}
.google-bg{
background: #DD4B39;
}
.footer-widget-heading h3 {
color: #fff;
font-size: 20px;
font-weight: 600;
margin-bottom: 60px;
position: relative;
}
.footer-widget-heading h3::before {
content: "";
position: absolute;
left: 0;
bottom: -15px;
height: 2px;
width: 50px;
background: #ff5e14;
}
.footer-widget ul li {
display: inline-block;
float: none;
width: 50%;
margin-bottom: 12px;
}
.footer-widget ul li a:hover{
color: #ff5e14;
}
.footer-widget ul li a {
color: #878787;
text-transform: capitalize;
}
.subscribe-form {
position: relative;
overflow: hidden;
}
.subscribe-form input {
width: 100%;
padding: 14px 28px;
background: #2E2E2E;
border: 1px solid #2E2E2E;
color: #fff;
}
.subscribe-form button {
  position: absolute;
  right: 0;
  background: #ff5e14;
  padding: 13px 20px;
  border: 1px solid #ff5e14;
  top: 0;
}
.subscribe-form button i {
color: #fff;
font-size: 22px;
transform: rotate(-6deg);
}
.copyright-area{
background: #202020;
padding: 25px 0;
text-align: center; /* Alinea el contenido al centro */
}

.copyright-text {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.copyright-text p {
margin: 0;
font-size: 14px;
color: #878787;
}

.copyright-text p a{
color: #ff5e14;
text-decoration: none;
}

.footer-menu li {
display: inline-block;
margin-left: 20px;
}
.footer-menu li:hover a{
color: #ff5e14;
}
.footer-menu li a {
font-size: 14px;
color: #878787;
}

/*Cierre footer*/


/*CONTENIDO SOBRE DESARROLLADORES*/
.scroller {
  overflow: auto;
  padding: 1rem;
  scroll-timeline-name: --scroller;
  scroll-timeline-axis: inline;
}

.scroller ol,
.scroller ul {
  display: flex;
  gap: 1rem;
  list-style: none;
  padding-left: 0;
  counter-reset: list-item;
  perspective: 9000px;
  transform-style: preserve-3d;
  perspective-origin: 50% 50%;
}
.scroller ol > li,
.scroller ul > li {
  flex: 1 1 240px;
  min-width: 240px;
  border: 1px solid currentColor;
  padding: 1rem;
  animation: auto ease-in-out intro forwards, auto ease-in-out outro forwards;
  animation-timeline: view(inline);
  animation-range: entry, exit;
  transform-origin: bottom center;
}
.scroller ol p,
.scroller ol h2,
.scroller ul p,
.scroller ul h2 {
  margin-top: 1rem;
  margin-bottom: 0;
}
.scroller ol h2,
.scroller ul h2 {
  color: #aaa;
  font-weight: normal;
}

.scroller ol > li {
  display: flex;
  flex-direction: column;
  color: #ccc;
  position: relative;
  overflow: hidden;
}
.scroller ol > li::before {
  counter-increment: list-item;
  content: counter(list-item) ".";
  font-size: 5em;
  font-weight: bold;
  color: #fff;
  margin-bottom: 1rem;
  line-height: 1;
}
.scroller ol > li::after {
  content: "";
  background-image: var(--bg);
  position: absolute;
  inset: -20px;
  background-size: cover;
  transform: scale(1);
  transition: transform 0.5s ease-out, opacity 0.4s linear;
  opacity: 0;
  z-index: -1;
}
.scroller ol > li:hover {
  color: #fff;
}
.scroller ol > li:hover::after {
  transform: scale(1.1) rotate(4deg);
  opacity: 0.8;
}

@keyframes intro {
  from {
    transform-origin: center left;
    opacity: 0;
    scale: 0;
  }
  to {
    transform-origin: center left;
    opacity: 1;
    scale: 1;
  }
}
@keyframes outro {
  from {
    transform-origin: center right;
    opacity: 1;
    scale: 1;
  }
  to {
    transform-origin: center right;
    opacity: 0;
    scale: 0;
  }
}

/* RESPONSIVE */
@media (max-width: 760px) {
  /* HEADER */
  .mostrar-menu,
  .esconder-menu {
      display: block;
      margin-left: 10px;
  }

  .menu {
      position: fixed;
      width: 100%;
      height: 100%;
      background: #BA7E71;
      right: -100%;
      top: 0;
      text-align: center;
      padding: 100px 0px;
      z-index: 100;
      transition: 0.8s;
  }

  .menu a {
      display: block;
      padding: 20px;
  }

  .esconder-menu {
      position: absolute;
      top: 40px;
      right: 40px;
  }

  #check:checked~.menu {
      right: 0;
  }

  /* PERSONAJES , SECCION RESPONSIVA */
  #personajes {
      flex-direction: column;
  }

  /* Iconos */
  .contenido-iconos {
      flex-direction: column;
  }

  .contenido-iconos div {
      border: none;
  }

  /* FORMULARIO */
  .datos-form {
      flex-direction: column;
  }
  /* FOOTER RESPONSIVO*/

  @media screen and (min-width: 768px) {
    /* Ajusta el ancho de la pantalla de texto a columna */
    .footer-text {
        flex-direction: column;
        justify-content: center;
    }

    .footer-text p {
        margin-right: 14px; /* Otra opción podría ser ajustar el margen entre los párrafos */
        margin-bottom: 0;
    }

    /* Media query para ajustar estilos en pantallas más pequeñas */
    @media screen and (max-width: 768px) {
    .footer-logo {
    height: auto; /* Cambia la altura a automático para permitir el ajuste del contenido */
  }
  @media screen and (max-width: 768px) {
    .copyright-text {
        flex-direction: column; /* Cambia a una columna en pantallas más pequeñas */
        align-items: center; /* Alinea los elementos al centro en la columna */
    }


    
}
}
  }
}







